# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# testing
/coverage
/playwright-report
/test-results

# misc
.DS_Store
*.pem

# env
.env
.env*.local
.env*

# typescript
*.tsbuildinfo
next-env.d.ts
